@page "/cadastrar-artistas"

@inject ArtistaAPI artistaAPI
@inject NavigationManager navigationManager

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Cadastro do Artista</MudText>

    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Artista"
                      @bind-Value="nome"
                      Variant="Variant.Outlined"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Biografia do artista"
                      @bind-Value="biografia"
                      Variant="Variant.Outlined"
                      Lines="4"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <div class="d-flex align-center justify-content-end gap-3 mt-4">
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Href="/artistas">
                Voltar
            </MudButton>

            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="Cadastrar">
                Cadastrar
            </MudButton>
        </div>

    </MudForm>
</MudPaper>

@code {
    private string? nome;
    private string? biografia;

    private async Task Cadastrar()
    {
        var request = new ArtistaRequest(nome!, biografia!);

        await artistaAPI.AddArtistaAsync(request);

        navigationManager.NavigateTo("/artistas");
    }
}
