@page "/cadastrar-generos"

@inject GeneroAPI generoAPI
@inject NavigationManager navigationManager

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Cadastro de Gênero</MudText>

    <MudForm>
        <MudTextField Class="mt-4" T="string" Placeholder="Nome do gênero"
                      @bind-Value="_nome"
                      Variant="Variant.Outlined"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Descrição do gênero"
                      @bind-Value="_descricao"
                      Variant="Variant.Outlined"
                      Lines="4"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <div class="d-flex align-center justify-content-end gap-3 mt-4">
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Href="/generos">
                Voltar
            </MudButton>

            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="Cadastrar">
                Cadastrar
            </MudButton>
        </div>
    </MudForm>
</MudPaper>

@code {
    private string? _nome;
    private string? _descricao;

    private async Task Cadastrar()
    {
        var request = new GeneroRequest(_nome!, _descricao!);

        await generoAPI.AddGeneroAsync(request);

        navigationManager.NavigateTo("/generos");
    }
}
