<MudCard Class="mud-height-full">
    <MudCardMedia Image=@Imagem></MudCardMedia>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">@Artista!.Nome</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body2">
            @Artista!.Bio
        </MudText>
    </MudCardContent>
    
    <div class="d-flex align-center gap-2">
        <MudRating 
            ReadOnly="true"
            Disabled="true"
            SelectedValue="@((int)Math.Round(Artista!.Classificacao ?? 0))"
            Color="Color.Warning"/>
        <MudText Typo="Typo.caption" Class="mt-1">
            @Artista!.Classificacao.ToString()
        </MudText>
    </div>
    
    <MudCardActions>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Href=@($"/editar-artista/{Artista!.Nome}")>
            Ver Detalhes
        </MudButton>
    </MudCardActions>
</MudCard>

@code {
    [Parameter]
    public ArtistaResponse? Artista { get; set; }

    private string? Imagem { get; set; }

    protected override void OnInitialized()
    {
        Imagem = Artista!.FotoPerfil!.Contains("Fotos") ? $"https://localhost:7089/{Artista!.FotoPerfil}" : "images/cardArtista.png";
    }
}